<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--全局自定义错误展示开关-->
  <add key="GLOBAL_CUSTOMERROR_SWITCH" value="ON"/>
  <!--全局错误日志记录开关-->
  <add key="GLOBAL_LOGGER_SWITCH" value="ON"/>
  <!--全局客户端请求身份验证开关-->
  <add key="GLOBAL_AUTHENTICATION_SWITCH" value="OFF"/>
  <!--全局请求参数SQL注入安全检查开关-->
  <add key="GLOBAL_SQLINJECTION_SWITCH" value="ON"/>
  <!--基公钥-->
  <add key="PULICKEY" value="5fhG1LvT0c"/>
  <!--身份验证模块公钥-->
  <add key="PUBLICKEY_TOKEN"  value="5fhG1LvT0c"/>
</appSettings>

