<?xml version="1.0" encoding="utf-8"?>

<Identity>
  <!--TOKENG过期时间 单位/秒-->
  <timeexpire>3600</timeexpire>
  <client>
    <web>
      <key>xwXXtotJVI9CeXxSWXN4GTY9bpw23DeFTjg7O2vztTZmuj74hdwdtN4gNsFIm7</key>
    </web>
    <ios>
      <key>xwXXtotJVIWUL7OmkChih5na7yR7SIeCZv3j3RCNUUxII3fpNy9iLuGYPUnCvd</key>
    </ios>
    <android>
      <key>yrV5ECWgSwStlIY6OznF2PLRmeW6VdWyySymx33uYvTD2NfWTDtcGWMHjSwJ1E</key>
    </android>
    <touch>
      <key>oPCoOimHuHlkKSL9vUrKNAOsdWUhdK9OlmERFlTjABuRWNpfvu1pvwfKwevGZE</key>
    </touch>
  </client>
</Identity>
